<nav class="black">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo"><span class="nomobile">Folo The </span>Source</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./">Home</a></li>
        <li><a href="./events">Events</a></li>
        <li><a href="./gallery">Gallery</a></li>
        <li><a href="./contact">Contact</a></li>
      </ul>
    </div>
  </nav>
